* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: sans-serif;
    --grid-size: 16;
    --pixel-color: black;
    --primary-color: #CF0000;
    --screen-color: whitesmoke;
    --secondary-color: #F2EA24;
    --tertiary-color: #2F1E81;
    --text-shadow: 1px 1px #2F1E81;
}

body {
    align-items: center;
    background-color: #c89090;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23d5d161' fill-opacity='0.32' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

.game-container {
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px white inset, -2px -2px 5px var(--tertiary-color) inset;
    display: flex;
    height: 75vh;
    justify-content: center;
    width: 70vh;
}

.logo-image {
    align-self: flex-start;
    height: 9vh;
}

.game-grid-container {
    background-color: var(--screen-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    height: 55vh;
    overflow: hidden;
    position: absolute;
    width: 55vh;
    z-index: 2;
}

.game-grid-shadow {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--tertiary-color) inset, 1px 1px 3px white;
    height: 55vh;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 55vh;
    z-index: 3;
}

.grid-cell {
    border: none;
    margin: 0;
    padding: 0;
}

.grid-cell.color-fade {
    animation: color-fade 1s forwards;
}

.left-knob,
.right-knob {
    align-self: flex-end;
    background-color: var(--screen-color);
    border-radius: 50%;
    box-shadow: 2px 2px 5px white inset, -2px -2px 2px var(--tertiary-color) inset;
    filter: brightness(0.9);
    height: 6vh;
    margin-bottom: 2vh;
    position: absolute;
    width: 6vh;
    z-index: 2;
}

.left-knob {
    transform: translateX(-30vh);
}

.right-knob {
    transform: translateX(30vh);
}

.buttons-container-top,
.buttons-container-bottom {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: max-content;
    justify-content: space-around;
    margin: 8px 0;
    position: relative;
    width: 70vh;
    z-index: 10;
}

.buttons {
    background-color: var(--primary-color);
    border-radius: 8px;
    border: solid 1px var(--tertiary-color);
    color: var(--secondary-color);
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 2.5vh;
    height: 4vh;
    margin: 0 4px;
    min-height: max-content;
    min-width: max-content;
    padding: 4px 8px;
    text-shadow: var(--text-shadow);
    width: 7vw;
}

.buttons:hover {
    box-shadow: 0 0 2px var(--tertiary-color) inset;
    filter: brightness(0.95);
    outline: none;
}

.buttons.current,
.buttons:focus {
    box-shadow: 0 0 5px 1px var(--secondary-color);
    outline: none;
}

.select-color-button {
    height: 4vh;
    padding: 0 0;
    position: relative;
    text-shadow: var(--text-shadow);
}

.color-picker {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.clear-button {
    margin-left: 8px;
}

.slider-container {
    position: relative;
    flex-grow: 1;
    height: max-content;
    width: 100%;
    margin: 0 16px;
}

.slider {
    -webkit-appearance: none;
    background: lightgray;
    border-radius: 5px;
    border: solid 1px var(--tertiary-color);
    flex-grow: 1;
    height: 15px;
    outline: none;
    overflow: hidden;
    width: 100%;
}

.slider:hover {
    filter: brightness(0.95);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--secondary-color);
    border-radius: 50%;
    border: solid 1px var(--tertiary-color);
    box-shadow: -5000px 0 0 4990px var(--primary-color);
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.slider::-moz-range-thumb {
    background: var(--secondary-color);
    border-radius: 50%;
    border: solid 1px var(--tertiary-color);
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.slider::-moz-range-progress {
    background: var(--primary-color);
    height: 100%;
}

.slider::-ms-fill-lower {
    background: var(--primary-color);
    height: 100%;
}

.bubble {
    background: var(--primary-color);
    border-radius: 10px;
    color: var(--secondary-color);
    text-shadow: var(--text-shadow);
    left: 50%;
    padding: 4px 12px;
    position: absolute;
    transform: translateX(-50%);
}

.bubble::after {
    background: var(--primary-color);
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    top: -2px;
    width: 2px;
}

@keyframes color-fade {
    100% {
        background-color: var(--screen-color);
        filter: brightness(1);
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    .game-container {
        height: 85vw;
        width: 80vw;
    }
    .game-grid-container,
    .game-grid-shadow {
        height: 60vw;
        width: 60vw;
    }
    .logo-image {
        height: 12vw;
        max-height: 9vh;
    }
    .left-knob,
    .right-knob {
        height: 8vw;
        margin-bottom: 3vw;
        width: 8vw;
    }
    .left-knob {
        transform: translateX(-33vw);
    }
    .right-knob {
        transform: translateX(33vw);
    }
    .buttons-container-top,
    .buttons-container-bottom {
        height: max-content;
        width: 80vw;
    }
}